@model IEnumerable<_11317049_FedrickSiagian_uts.Models.Peminjaman>

@{
    ViewBag.Title = "dataPeminjaman";
}

<h2>Data Peminjaman</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OLIS</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Kode Buku</th>
                <th>Judul</th>
                <th>Pengarang</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.ID</td>
                <td>@item.Nama</td>
                <td>@item.Alamat</td>
                <td>@item.kodeBuku</td>
                <td>@item.judulBuku</td>
                <td>@item.pengarangBuku</td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>

