@model _11317049_FedrickSiagian_uts.Models.Buku[]

@{
    ViewBag.Title = "Index";
}

<h2>Daftar Buku</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OLIS</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Kode Buku</th>
                <th>Judul</th>
                <th>Pengarang</th>
                <th>Tahun Terbit</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (_11317049_FedrickSiagian_uts.Models.Buku x in Model)
            {
                <tr>
                    <td>@x.kodeBuku</td>
                    <td>@x.judulBuku</td>
                    <td>@x.pengarangBuku</td>
                    <td>@x.tglTerbit</td>
                    <td>@Html.ActionLink("Pesan", "FormPesan")</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
